[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=yes
RemainAfterExit=no
ExecStart=/home/rocky/Kether.pl-website-server/kether_npm.sh start
ExecStop=/home/rocky/Kether.pl-website-server/kether_npm.sh stop 
